@model Fit4You.WebApp.Models.Auth.SignUpModel

<div class="row justify-content-md-center">
    <div class="col-10 offset-1 col-md-8 col-lg-4">
        <h2 class="my-3">Sign Up</h2>
        @if (!ViewContext.ModelState.IsValid)
        {
            <partial name="_ValidationSummaryPartial" />
        }
        <form method="post" class="my-3">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email address</label>
                <input asp-for="Email" class="form-control" placeholder="example@gmail.com" value="@Model?.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" value="@Model?.Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPassword" class="control-label">Repeat password</label>
                <input asp-for="RepeatPassword" class="form-control" value="@Model?.RepeatPassword" type="password" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>