<div class="row">
    <div class="col-md text-center">
        BMI Calculator
    </div>
    <div class="col-md text-center">
        BMR Calculator
    </div>
    <div class="col-md text-center">
        XXX Calculator
    </div>
</div>