@model Fit4You.WebApp.Models.CalculatorsModel

<div class="row">
    <div class="col-md border border-width-3 rounded border-info bg-transparent m-3" id="BMICalculator">
        <partial name="_BMICalculatorPartial" model="@Model.BMICalculator" />
    </div>
    <div class="col-md border border-width-3 rounded border-violet bg-transparent m-3" id="BMRCalculator">
        <partial name="_BMRCalculatorPartial" model="@Model.BMRCalculator" />
    </div>
</div>

@section Styles{
    <style>
        #BMRCalculatorRadios .custom-control-input:checked ~ .custom-control-label::before {
            border-color: #563D7C;
            background-color: #563D7C;
        }

        .btn-violet {
            color: #fff;
            background-color: #563D7C;
            border-color: #563D7C;
        }

            .btn-violet:hover {
                color: #fff;
                background-color: #422e60;
                border-color: #422e60;
            }

        .border-violet {
            border-color: #563D7C !important;
        }
    </style>
}