@model Fit4You.WebApp.Models.Home.CalculatorsModel

<div class="row">
    <div class="col-md border border-width-3 rounded border-info bg-transparent m-3" id="BMICalculator">
        <partial name="_BMICalculatorPartial" model="@Model.BMICalculator" />
    </div>
    <div class="col-md border border-width-3 rounded border-violet bg-transparent m-3" id="BMRCalculator">
        <partial name="_BMRCalculatorPartial" model="@Model.BMRCalculator" />
    </div>
    @*<div class="col-md border border-width-3 rounded border-violet bg-transparent m-3">
        <form method="post" action="@Url.Action("CalculateBMI")">
                <div class="text-center my-4">BMI Calculator</div>
                <hr />
                <div class="form-group">
                    <label asp-for="IsMan" class="control-label d-block">Gender</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="isManRadioTrue" name="IsMan" class="custom-control-input" value="true">
                        <label class="custom-control-label" for="isManRadioTrue">Man</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="IsManRadioFalse" name="IsMan" class="custom-control-input" value="false">
                        <label class="custom-control-label" for="IsManRadioFalse">Woman</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label">Weight</label>
                    <input asp-for="Weight" type="number" class="form-control" value="@Model?.Weight" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Height" class="control-label">Height</label>
                    <input asp-for="Height" type="number" class="form-control" value="@Model?.Height" />
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
                <div class="text-center m-3">
                    <button class="btn btn-info" type="submit">Calculate BMI</button>
                </div>
            </form>
    </div>*@
</div>

@section Styles{
    <style>
        #BMRCalculatorRadios .custom-control-input:checked ~ .custom-control-label::before {
            border-color: #563D7C;
            background-color: #563D7C;
        }

        .btn-violet {
            color: #fff;
            background-color: #563D7C;
            border-color: #563D7C;
        }

            .btn-violet:hover {
                color: #fff;
                background-color: #422e60;
                border-color: #422e60;
            }

        .border-violet {
            border-color: #563D7C !important;
        }
    </style>
}